<div id="main-content" *ngIf="loaded; else loading">
  <div id="left-column">
    <h3>Available Plants</h3>
    <ng-container *ngFor="let plant of plants">
      <div class="card available-plant">
        <div class="image-and-text">
          <img
            src="../../../assets/images/{{ plant.image }}"
            width="50px"
            height="50px"
            alt="{{ plant.color }} {{ plant.name }}"
          />
          <p>
            {{ plant.name }}, {{ capitalize(plant.color) }}<br />
            <span
              class="amount-text"
              [class.unavailable]="plant.numAvailable === 0"
              >{{ plant.numAvailable }} available</span
            >
          </p>
        </div>
        <div class="arrows">
          <span
            class="fa fa-chevron-circle-left"
            title="Remove one plant from flowerbed"
            (click)="returnPlant(plant)"
          ></span>
          <span
            class="fa fa-chevron-circle-right"
            title="Add one plant to flowerbed"
            (click)="allocatePlant(plant)"
          ></span>
        </div>
      </div>
    </ng-container>
  </div>
  <div id="right-column">
    <!-- TODO #3: Move the entire flowerbed card into a new flowerbed component -->
    <!-- Make sure to pass the selectedPlants into the component -->
    <div class="card flowerbed">
      <div>
        <h4
          class="clickable"
          title="Click to edit"
          *ngIf="!editingName; else flowerbedName"
          (click)="openNameInput()"
        >
          {{ name }}
        </h4>
        <ng-template #flowerbedName>
          <input
            #nameInput
            type="text"
            [value]="name"
            (keyup.enter)="saveName(nameInput.value)"
          />
          <button (click)="saveName(nameInput.value)">Save</button>
        </ng-template>
      </div>
      <div class="plant-grid" *ngIf="selectedPlants.length; else empty">
        <!-- TODO #4: Move the selected plant card into a selected-plant component -->
        <!-- Use an <ng-container> for the looping of <app-selected-plant> -->
        <!-- Be sure to pass each plant into the new component -->
        <div class="card selected-plant" *ngFor="let selectedPlant of selectedPlants">
          <img
            src="../../../../assets/images/{{ selectedPlant.image }}"
            width="150px"
            height="150px"
            alt="{{ selectedPlant.color }} {{ selectedPlant.name }}"
          />
          <span class="big-num">{{ selectedPlant.numAllocated }}</span>
        </div>
      </div>
      <ng-template #empty> Select a plant to get started! </ng-template>
    </div>
  </div>
</div>

<ng-template #loading>
  <p>Data loading...</p>
</ng-template>
