<div class="card flowerbed">
  <div>
    <h4
      class="clickable"
      title="Click to edit"
      *ngIf="!editingName; else flowerbedName"
      (click)="openNameInput()"
    >
      {{ name }}
    </h4>
    <ng-template #flowerbedName>
      <input
        #nameInput
        type="text"
        [value]="name"
        (keyup.enter)="saveName(nameInput.value)"
      />
      <button (click)="saveName(nameInput.value)">Save</button>
    </ng-template>
  </div>
  <div class="plant-grid" *ngIf="selectedPlants.length; else empty">
    <ng-container *ngFor="let selectedPlant of selectedPlants">
      <app-selected-plant [selectedPlant]="selectedPlant"></app-selected-plant>
    </ng-container>
  </div>
  <ng-template #empty> Select a plant to get started! </ng-template>
</div>